---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal | OpenMind`,
  description: `Openmind's Legal Page`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Legal Information</h1>

    <p>
      Welcome to OpenMind, a mental health organization dedicated to promoting mental wellness for all. Before accessing and using our products, services, and website, please read and understand the following Terms of Service and Privacy Policy. By using our resources, you agree to comply with these terms and acknowledge the importance of protecting your privacy. If you have any questions or concerns, please contact us.
    </p>

    <h2>Terms of Service</h2>

    <ol>
      <li>
        <h3>Acceptance of Terms</h3>
        <p>By accessing and using OpenMind's products, services, and website, you agree to be bound by these Terms of Service. If you do not agree with these terms, please refrain from using our resources.</p>
      </li>
      <li>
        <h3>Eligibility</h3>
        <p>OpenMind's products and services are intended for individuals aged 18 years or older. If you are under the age of 18, please seek permission from a parent or guardian before accessing our resources.</p>
      </li>
      <li>
        <h3>Use of OpenMind's Products and Services</h3>
        <ol type="a">
          <li>OpenMind's products and services are intended for individuals aged 18 years or older. If you are under the age of 18, please seek permission from a parent or guardian before accessing our resources.</li>
          <br>
          <li>OpenMind's AI-powered mental health chatbot therapist app is a tool for providing on-demand support and recommendations. It is not a substitute for professional medical advice, diagnosis, or treatment. The app should not be used as a sole method for addressing mental health concerns. If you are experiencing a mental health crisis or emergency, please contact emergency services or a qualified healthcare professional immediately.</li>
          <br>
          <li>OpenMind's mobile applications, resources, and virtual therapy are supplemental tools for mental health management. They should be used in conjunction with professional guidance and not solely relied upon for treatment.</li>
        </ol>
      </li>
      <br>
      <li>
        <h3>Privacy and Data Security</h3>
        <ol type="a">
          <li>OpenMind takes user privacy and data security seriously. By using our products and services, you acknowledge and agree to our Privacy Policy, which outlines how we collect, store, and use your personal information. We employ industry-standard security measures to protect your data, but we cannot guarantee absolute security.</li>
          <br>
          <li>User interactions with OpenMind's chatbot app and other technology-based solutions may be collected and analyzed for research and development purposes. Data collected will be anonymized and used in an aggregated manner to improve our services and enhance user experience.</li>
        </ol>
      </li>

      <br>

    <h2>Privacy Policy</h2>
    <li>
      <h3>Collection and Use of Personal Information</h3>
      <ol type="a">
        <li>OpenMind may collect personal information, such as your name, email address, and demographic information, when you access our products and services. This information is used to personalize your experience, communicate with you, and improve our resources.</li>
        <br>
        <li>OpenMind may use cookies and similar technologies to gather information about your browsing behavior and preferences. This helps us enhance your user experience and provide relevant content.</li>
        <br>
      </ol>
    </li>
    <li>
      <h3>Data Sharing and Disclosure</h3>
      <ol type="a">
        <li>OpenMind may share your personal information with trusted third parties, such as licensed mental health professionals and technology partners, to provide you with the best possible support and services. We ensure that these parties adhere to strict confidentiality and data protection standards.</li>
        <br>
        <li>OpenMind may disclose your personal information if required by law or to protect our rights, property, or safety.</li>
      </ol>
    </li>
    <br>
    <li>
      <h3>Security Measures</h3>
      <p>OpenMind implements appropriate security measures to protect your personal information from unauthorized access, disclosure, or alteration. However, please be aware that no security system is entirely foolproof, and we cannot guarantee the absolute security of your data.</p>
    </li>
    <li>
      <h3>Third-Party Links and Content</h3>
      <p>OpenMind's website and resources may contain links to third-party websites and content. These links are provided for convenience and informational purposes. OpenMind does not endorse or assume responsibility for the accuracy, content, or practices of these third-party websites. Your interactions with third-party websites are at your own risk.</p>
    </li>
    <li>
      <h3>Changes to the Privacy Policy</h3>
      <p>OpenMind reserves the right to modify this Privacy</p>
    </li>
  </TextSection>
</Layout>